################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bookstore/bin/Debug/net8.0
/Bookstore/obj
/Bookstore/.vs
